services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    expose:
      - 8080
    volumes:
      - ./rastreador:/rastreador:ro
      - ./instance:/instance:ro
    depends_on:
      - db
  db:
    image: mariadb:latest
    expose:
      - 3306
    environment:
      - MARIADB_ROOT_PASSWORD_FILE=/run/secrets/db_root_pass
      - MARIADB_USER_FILE=/run/secrets/db_user_name
      - MARIADB_PASSWORD_FILE=/run/secrets/db_user_pass
      - MARIADB_DATABASE=rastreador
    volumes:
      - db_data:/var/lib/mysql
      - ./rastreador/schema.sql:/docker-entrypoint-initdb.d/schema.sql:ro
    secrets:
      - db_root_pass
      - db_user_name
      - db_user_pass
  nginx:
    image: nginx
    ports: #Altere os ports para serem iguais quando correndo em produção
      - 8000:80 #ports abaixo de 1000 precisam de root
      #- 443:443 
    volumes:
      - ./rastreador:/rastreador:ro
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app

volumes:
  db_data:

secrets:
  db_root_pass:
    file : ./secrets/db_root_pass
  db_user_name:
    file : ./secrets/db_user_name
  db_user_pass:
    file : ./secrets/db_user_pass
  

networks:
  default:
