{% extends 'scan.html' %}

{% block content %}
<div class="tablet-screen">
{{ super() }}
<form method="POST">
<div class = "scanner-area">
{% if oficina_completa and not teste_completo %}
<button class="btn-secondary btn-big" type="submit" name="operation" value="corrigir-oficina">Marcar oficina como incompleto</button>
{% elif not oficina_completa %}
<button class="btn-primary btn-big" type="submit" name="operation" value="checkin-oficina">Fazer checkin para oficina</button>
{% else %}
{% endif %}

{% if teste_completo and not lavagem_completa %}
<button class="btn-secondary btn-big" type="submit" name="operation" value="corrigir-teste">Marcar teste como incompleto</button>
{% elif oficina_completa and not lavagem_completa %}
<button class="btn-primary btn-big" type="submit" name="operation" value="checkin-teste">Fazer checkin para teste</button>
{% else %}
{% endif %}

{% if lavagem_completa %}
<button class="btn-secondary btn-big" type="submit" name="operation" value="corrigir-lavagem">Marcar lavagem como incompleto</button>
{% elif teste_completo %}
<button class="btn-primary btn-big" type="submit" name="operation" value="checkin-lavagem">Fazer checkin para lavagem</button>
{% else %}
{% endif %}

</form>
</div>
</div>
{% endblock %}