{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}">
{% endblock %}


{% block content %}
  <div class="dashboard-layout">
  {% for veiculo in veiculos %}
    <div class="vehicle-card"> <a href={{url_for('scan.scan', id=veiculo.id)}}>{{veiculo.placa}}</a> <br> <span class="status-pill {{veiculo.get_class_for_status()}}">{{veiculo.status}}</span></div>
  {%endfor%}
    </div>

{% endblock %}