{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="login-screen">
  <div class="login-card">
    <form method="post" class="form-group">
      <div>
      <label for="username">Nome de usuario</label>
      <input name="username" id="username" required>
      </div>
      <div>
      <label for="password">Senha</label>
      <input type="password" name="password" id="password" required>
      </div><br>
      <input class="btn-primary" type="submit" value="Log In">
    </form>
  </div>
</div>
{% endblock %}